<h1>Editing Frendy</h1>
<br/>
<%= render 'form', frendy: @frendy %>

<%= link_to 'Show', @frendy, class:"btn btn-outline-secondary"  %>
<%= link_to 'Back', frendies_path, class:"btn btn-outline-secondary"  %>
